/*Ensemble des styles pour toutes les pages */
/*Styles des polices */
@font-face {
    src: url(../police/FontsFree-Net-BEYNO.ttf);
    font-family: 'BEYNO';
}

/* Cantarell */
@font-face {
    src: url(../police/Cantarell-Regular.ttf);
    font-family: 'Cantarell';
}

/* Panthera */
@font-face {
    src: url(../police/PantheraRegular-MVZ9J.ttf);
    font-family: 'Panthera';
}

/* wakanda forever */
@font-face {
    src: url(../police/WakandaForever-Regular.ttf);
    font-family: 'Wakanda forever';
}

/*couleur menu type*/
:root{
    --white-color: #FFFFFF;
    --pink-light: #F2CEF2;
    --gray-color: #9E91B7;
    --pink-color: #DF99F2;
    --violet-color: #3D2DA6;
    --royal-blue: #021740;
    --blue-color: #07338C;

}

html {
    font-size: 1vw;
}

body {

    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
    overflow-x: hidden;
    font-family: 'Cantarell';
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


input[type="text"] {
    color: #fff;
}

/* Titre */
h1 {
    font-family: 'Panthera';
    font-size: 4.25em; /* font-size to 4.25*pricipal text-size (4.25*16= 68px) */
    color: #9E91B7;
}

h2 {
    font-family: 'BEYNO';
    font-size: 2em; /* font-size to 2*pricipal text-size (2*16= 32px) */
    color: #9E91B7;
}

h2[class='wakanda-forever'] {
    font-family: 'Wakanda forever';
    font-size: 2.68em;
    letter-spacing: 0.15em; /* 0.15*16=2.4px */
}

h3 {
    font-family: 'Cantarell';
    font-size: 2em;
}

.content, .txt{
    text-align: justify;
}

.titre {
    font-size: 1.5em;
}

.text {
    font-family: 'Cantarell';
    font-size: 1em;
}

/* citation texte */
.texte-citation {
    font-family: 'Cantarell';
    font-size: 0.87em;
}

.text-footer {
    font-family: 'Cantarell';
    font-size: 0.62em;
}

.center {
    text-align: center;
}


header {
    padding: 2% 10%;
}

header nav {
    display: flex;
    justify-content: space-between; /* Space between each items in nav */
}

header nav ul {
    display: flex;
    justify-content: space-between; /*  */
    width: 20vw; /* 20% of screen width */
}

/* Style des logos */
h1[class='logo'] {
    background-image: url('../All_pages/footer2.png');
    width: 100%; /* 20% of screen width */
    height: 5vw; /* 5% of screen width */
    background-repeat: no-repeat;
    padding: 0;
    margin-top:  -1%;
    background-size: 15%, 7%, 40%; /* size of each background */
    background-position: 0 0, 3vw 1vw, 5vw 0; /* position of each background */
    filter: invert(20%); /* reverse color of logo (20%) (grey) */
    cursor: pointer;
}

h1[class='logo']:hover {
    filter: invert(0%); /* remove color reverse if cursor passed */
}

a {
    text-decoration: none; /* remove underline for link */
}

ul li {
    list-style-type: none; /* remove style type */
}

ul[class='nav'] li {
    display: inline-flex;
}

ul li a {
    list-style-type: none;
    font-family: 'BEYNO';
    color: #fff;
}

ul li[class='active'] a  {
    font-weight: bolder;
    text-decoration: underline;
    color: #9E91B7;
}

ul li a:hover {
    text-decoration: underline;
}

main {
    padding-bottom:5%;
}


/*style de la section footer*/
footer h2 {
    font-family: 'Cantarell';
    letter-spacing: 0.75em;
    font-size: 1em;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 3%;
    width: 20vw;
}

footer {
    background-image: url('../All_pages/back_footer.png');
    background-repeat: no-repeat;
    margin-left: -1%;
    height: 40vw;
    width: 100vw;
    display: grid; /* Define display grid */
    grid-template-columns: 1fr 1fr; /* Grid contains 2 columns (1/2 width, 1/2 width) */
    grid-template-rows: 1fr 4fr; /* Grid contains 2 rows (1/5 height, 4/5 height) */
}

footer .Gauche {
    grid-column: 1; /* define the emplacement of this element in: col 1 */
    grid-row: 2/5;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20%;
    position: relative;
}

footer .Gauche .img-1 {
    position: absolute;
    z-index: 1;
    width: 20vw;
    transition: transform 0.3s ease-in-out;
    margin-top: 52px;
}

footer .Gauche .img-2 {
    position: absolute;
    z-index: 2;
    width: 10vw;
    right: 30%;
    transition: transform 0.3s ease-in-out;
    margin-top: 40px;
}

footer .Droite {
    grid-column: 2 / 3;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 83px;
}

footer .Droite-2-1 {
    grid-column: 1/2;
    grid-row: 1;
}

footer .Droite-2-1 a {
    color: #FFFFFF;
}

footer .Droite-2-2 {
    grid-column: 2/3;
    grid-row: 1;
}

footer .Droite-2-2 img {
    width: 50%;
}

footer .Droite-2-3 {
    grid-column: 1 / 3;
    grid-row: 2;

}

footer .Droite-2-1 p {
    text-transform: capitalize;
}

footer .text-footer {
    font-size: 10px;
}
/*Animation de la page*/
/* Effet de surbrillance */
button[type='submit']:hover {
    box-shadow: 0px 4px 8px 0px #F2CEF2;
    cursor: pointer;
}

/* Effet de zoom */
footer .Gauche:hover .img-1, footer .part-1:hover .img-2 {
    transform: scale(1.1);
}

footer .Droite-2-2 img {
    transition: transform 0.3s ease-in-out;
}

footer .Droite-2-2 img:hover {
    transform: scale(1.3);
}

/* Fade in */
section * {
    animation-name: fade-in;
    animation-duration: 5s;
}

/* define fade-in animation from left */
@keyframes fade-in {
    from {
        opacity: 0; /* from opacity 0 */
        transform: translateX(-50px); /* from left -50px */
    }
    to {
        opacity: 1; /* to opacity 1 */
        transform: translateX(0); /* to true position */
    }
}

/*POPUP BOX*/
.popup-message {
    display: none; /* hidden element */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 100% of width screen */
    height: 100%; /* 100% of height screen */
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
    opacity: 0.99; /* set opacity to 0.99 (dark) */
    z-index: 9999;
}

.popup-content {
    position: absolute;
    width: 40%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}